fastapi>=0.115
loguru>=0.7
openai>=1.76
python-multipart>=0.0
tortoise-orm>=0.24
uvicorn>=0.35
httpx
websockets~=15.0.1
numpy~=2.2.3
modelscope~=1.23.2
pyaudio~=0.2.14
funasr==1.0.27
--no-binary=opencc
librosa==0.10.2
ffmpeg-python
onnxruntime; platform_machine == "aarch64" or platform_machine == "arm64"
onnxruntime-gpu; platform_machine == "x86_64" or platform_machine == "AMD64"
tqdm
cn2an
pypinyin
pyopenjtalk>=0.4.1
g2p_en
torchaudio
PyQt6
PyQt6-WebEngine
PyQt6-Qt6
sentencepiece
transformers>=4.43,<=4.50
peft
pytorch-lightning>=2.4
jieba_fast
jieba
split-lang==2.1.0
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping 
g2pk2
ko_pron
opencc
python_mecab_ko; sys_platform != 'win32'
fastapi[standard]>=0.115.2
x_transformers
torchmetrics<=1.5
pydantic<=2.10.6
ctranslate2>=4.0,<5
huggingface_hub>=0.13
tokenizers>=0.13,<1
pywin32==311
av>=11
qtmodern
qt-material
live2d-py==0.5.4
PyOpenGL==3.1.10
aiohttp==3.12.14
matplotlib==3.10.6