fastapi>=0.115
loguru>=0.7
mem0ai>=0.1.114
openai>=1.76
python-dotenv>=1.0
python-multipart>=0.0
tiktoken>=0.9
tortoise-orm>=0.24
uvicorn>=0.35
httpx
websockets~=15.0.1
numpy~=2.2.3
modelscope~=1.23.2
pyaudio~=0.2.14
funasr~=1.2.6
addict~=2.4.0
datasets~=3.3.2
Pillow~=11.1.0
simplejson~=3.20.1
sortedcontainers~=2.4.0
silero-vad~=5.1.2

numpy~=2.2.3
modelscope~=1.23.2
pyaudio~=0.2.14
funasr~=1.2.6
addict~=2.4.0
datasets~=3.3.2
Pillow~=11.1.0
simplejson~=3.20.1
sortedcontainers~=2.4.0
silero-vad~=5.1.2

--no-binary=opencc
scipy
tensorboard
librosa==0.10.2
numba
pytorch-lightning>=2.4
gradio<5
ffmpeg-python
onnxruntime; platform_machine == "aarch64" or platform_machine == "arm64"
onnxruntime-gpu; platform_machine == "x86_64" or platform_machine == "AMD64"
tqdm
funasr==1.0.27
cn2an
pypinyin
pyopenjtalk>=0.4.1
g2p_en
torchaudio
PyQt6
PyQt6-WebEngine
PyQt6-Qt6
numpy
modelscope==1.10.0
sentencepiece
transformers>=4.43,<=4.50
peft
chardet
PyYAML
psutil
jieba_fast
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping 
g2pk2
ko_pron
opencc
python_mecab_ko; sys_platform != 'win32'
fastapi[standard]>=0.115.2
x_transformers
torchmetrics<=1.5
pydantic<=2.10.6
ctranslate2>=4.0,<5
huggingface_hub>=0.13
tokenizers>=0.13,<1
av>=11
tqdm